{{define "title"}}Login{{end}}
{{define "body"}}
<body>
    <div class="centered login">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input id="email" type="text" placeholder="Email" name="email" required>
            <input id="password" type="password" placeholder="Password" name="password" required>
            <button type="submit"><span>Login</span></button>
        </form>
        <p>If you don't have an account
            <a href="/registration.html">register here.</a>
        </p>
        <p>If you forgot your password
            <a href="/reset.html">reset it here.</a>
        </p>
    </div>
</body>
{{end}}